body {
  padding: 0;
  margin: 0;
}
.App {
  width: 70%;
  margin: 2% 0 5% 15%;
  padding: 4%;
  border: 0.5px solid #a3a2a2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  justify-content: space-between;
}

.grid_item {
  flex-shrink: 0;
  min-height: 1px;
  box-sizing: border-box;
}

.grid_container .grid_item_1 {
  flex-basis: 8.333333333333332%;
}
.grid_container .grid_item_2 {
  flex-basis: 16.666666666666664%;
}
.grid_container .grid_item_3 {
  flex-basis: 25%;
}
.grid_container .grid_item_4 {
  flex-basis: 33.33333333333333%;
}
.grid_container .grid_item_5 {
  flex-basis: 41.66666666666667%;
}
.grid_container .grid_item_6 {
  flex-basis: 50%;
}
.grid_container .grid_item_7 {
  flex-basis: 58.333333333333336%;
}
.grid_container .grid_item_8 {
  flex-basis: 66.66666666666666%;
}
.grid_container .grid_item_9 {
  flex-basis: 75%;
}
.grid_container .grid_item_10 {
  flex-basis: 83.33333333333334%;
}
.grid_container .grid_item_11 {
  flex-basis: 91.66666666666666%;
}
.grid_container .grid_item_12 {
  flex-basis: 100%;
}

.signin p:first-child {
  color: #1e3e5b;
  font-size: 25px;
  font-weight: bold;
}

.signin p:last-child {
  color: #7a8b9d;
  font-size: 15px;
}

.host {
  color: #1e3e5b;
  border-bottom: 1px solid #7a8b9d;
  padding: 2% 0 5% 0;
}

.host button {
  height: 45px;
  background-color: Transparent;
  border: 1px solid #7a8b9d;
  cursor: pointer;
}

img {
  height: 18px;
  width: 18px;
  margin: 0 8px 2px 0;
}

.data {
  color: #1e3e5b;
  font-size: 13px;
  margin: 5% 0 0 0;
}

.data input {
  height: 45px;
  margin: 0 0 2% 0;
  /* padding: 12px 20px; */
  border-radius: 8px;
  border: 0.5px solid #dedede;
}

::placeholder {
  padding: 0 0 0 20px;
}

.data p:nth-child(4) {
  color: #363cf5;
}

.send {
  margin: 2% 0 0 0;
}

.send button {
  height: 45px;
  color: white;
  background-color: #363cf5;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0 3% 0;
}

.send p {
  color: #617183;
}

.link {
  color: #363cf5;
  text-decoration: underline;
}
